<div class="container-fluid col-12">

    <div class="row">
        <div class="col-6">
            <pre><code [highlight]="codeSnippet" [lineNumbers]="true"></code></pre>
        </div>


        <div class="col-6">
            <mat-card class="col-12 text-center">
                Rabin-Karp
                <mat-card-subtitle>
                    occurrences = {{occurrencesCount}} <br>
                    {{timeTaken}}
                </mat-card-subtitle>
                <progressbar type="primary" [striped]="true" [animate]="true" *ngIf="isSorting == false" max={{1}}
                    [value]="parentStack.length">
                    <i>{{parentNeedle.length}} / {{parentStack.length}} </i>
                </progressbar>

                <progressbar type="danger" [striped]="true" [animate]="true" *ngIf="isSorting" max={{animationMaxLimit}}
                    [value]="animations.length">
                    <i>{{animations.length}} / {{animationMaxLimit}} </i>
                </progressbar>
            </mat-card>




            <div class="array-body array-bar" *ngFor="let letter of stackArr"
                [ngStyle]="{ 'background-color': letter.colour }">
                {{letter.character}}
            </div>
            <hr>
            <!-- aux array to shift needle elements to the right-->
            <div class="array-bar" *ngFor="let c of shiftArr"></div>
            <div class="array-body array-bar" *ngFor="let letter of needleArr"
                [ngStyle]="{ 'background-color': letter.colour }">
                {{letter.character}}
            </div>

            <mat-card>
                <mat-card-subtitle>
                    Needle Hash: {{patHash}} <br>
                    Current substring: {{currentHashedSubstring}}
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</div>