<mat-toolbar class="container-fluid">

  <div class="btn-group" dropdown [insideClick]="true">

    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-animated" [disabled]="isSorting">
      {{ selectedAlgorithm }} <span class="caret"></span>
    </button>

    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
      <li role="menuitem">
        <a class="dropdown-item" (click)=selectAlgo(algorithmEnum.NAIVE)>{{algorithmEnum.NAIVE}}</a>
        <a class="dropdown-item" (click)=selectAlgo(algorithmEnum.KMP)>{{algorithmEnum.KMP}}</a>
        <a class="dropdown-item" (click)=selectAlgo(algorithmEnum.BM)>{{algorithmEnum.BM}}</a>
        <a class="dropdown-item" (click)=selectAlgo(algorithmEnum.RK)>{{algorithmEnum.RK}}</a>
        <!-- <a class="dropdown-item" (click)=selectAlgo(algorithmEnum.TWSM)>{{algorithmEnum.TWSM}}</a> -->
        <a class="dropdown-item" (click)=selectAlgo(algorithmEnum.ALL)>{{algorithmEnum.ALL}}</a>
      </li>
    </ul>
  </div>


  <div class="btn-group" dropdown [insideClick]="true">
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-animated" [disabled]="isSorting">
      {{ selectedInput }} <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">

    <li role="menuitem" (click)="updateInputData($event)" >
        <a class="dropdown-item" (click)="displayInput(inputDataEnum.DNA)">{{inputDataEnum.DNA}}</a>
        <a class="dropdown-item" (click)="displayInput(inputDataEnum.STORY)">{{inputDataEnum.STORY}}</a>
      </li>
    </ul>
  </div>


  <button type="button" class="btn btn-danger" (click)="startSearching()"
    [disabled]="isSorting || needleArr.length > stackArr.length"> Sort
  </button>

  <small>Iteration Speed </small>
  <mat-slider [disabled]="isSorting" id="speedSlider" thumbLabel tickInterval="auto"
    [displayWith]="stringService.formatLabel" min="0" max="2000" (input)="pitchSpeed($event)"
    value="{{ stringService.animationSpeed }}">
  </mat-slider>
</mat-toolbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">

      <form [formGroup]="inputForm" (keyup)="updateStrings()" class="example-form text-center">
        <mat-form-field class="inputField">
          <input formControlName="needle" matInput placeholder="Needle" value="ABC">
        </mat-form-field>

        <mat-form-field class="inputField">
          <input formControlName="stack" matInput placeholder="Haystack" value="ABCDE">
        </mat-form-field>
        <hr>
      </form>

      <div *ngIf="selectedAlgorithm == algorithmEnum.NAIVE">
        <app-naive [parentNeedle]="needleArr" [parentStack]="stackArr" [isSorting]="isSorting" (naiveEvent)="handleIsSorting($event)"> </app-naive> 
      </div>

      <div *ngIf="selectedAlgorithm == algorithmEnum.KMP">
        <app-kmp [parentNeedle]="needleArr" [parentStack]="stackArr" [isSorting]="isSorting" (kmpEvent)="handleIsSorting($event)"> </app-kmp> 
      </div>

      <div *ngIf="selectedAlgorithm == algorithmEnum.BM">
        <app-bm [parentNeedle]="needleArr" [parentStack]="stackArr" [isSorting]="isSorting" (bmEvent)="handleIsSorting($event)"> </app-bm> 
      </div>

      <div *ngIf="selectedAlgorithm == algorithmEnum.RK">
        <app-rk [parentNeedle]="needleArr" [parentStack]="stackArr" [isSorting]="isSorting" (rkEvent)="handleIsSorting($event)"> </app-rk> 
      </div>

      <div *ngIf="selectedAlgorithm == algorithmEnum.ALL">
        <app-all-algorithms [parentNeedle]="needleArr" [parentStack]="stackArr" [isSorting]="isSorting" (allEvent)="handleIsSorting($event)"> </app-all-algorithms> 
      </div>


    </div>
  </div>
</div>


