<mat-toolbar class="array-container">
  <button type="button" [disabled]="arrService.sorting" class="btn btn-primary" (click)="resetArray()">
    Generate New String
  </button>
  <div class="btn-group" dropdown [insideClick]="true">
    <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-animated" [disabled]="arrService.sorting">
      {{ selectedAlgorithm }} <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated"
    >
            <!-- [disabled]="arrService.sorting"> -->
      <li role="menuitem">
        <a class="dropdown-item" (click)="displayInfo(algoEnum.BUBBLE)">{{algoEnum.BUBBLE}}</a>
        <a class="dropdown-item" (click)="displayInfo(algoEnum.NAIVE)">{{algoEnum.NAIVE}}</a>
        <a class="dropdown-item" (click)="displayInfo(algoEnum.KMP)">{{algoEnum.KMP}}</a>
        <a class="dropdown-item" (click)="displayInfo(algoEnum.BM)">{{algoEnum.BM}}</a>
        <a class="dropdown-item" (click)="displayInfo(algoEnum.RK)">{{algoEnum.RK}}</a>
        <a class="dropdown-item" (click)="displayInfo(algoEnum.TWSM)">{{algoEnum.TWSM}}</a>
      </li>
    </ul>
  </div>

  <button type="button" class="btn btn-danger" (click)="startSorting()"
    [disabled]="arrService.isSorted || arrService.sorting"> Sort
  </button>

  <small>String Size</small>
  <mat-slider [disabled]="arrService.sorting" thumbLabel tickInterval="auto" min="4" max="200"
    (input)="pitchSize($event)" value="{{ arrService.arrayLength }}"></mat-slider>

  <small>Iteration Speed </small>
  <mat-slider [disabled]="arrService.sorting" id="speedSlider" thumbLabel tickInterval="auto"
    [displayWith]="arrService.formatLabel" min="0" max="1000" (input)="pitchSpeed($event)"
    value="{{ arrService.animationSpeed }}">
  </mat-slider>
  
</mat-toolbar>


<div class="container-fluid">
  <div class="row">

    <div class="array-container col-12">
      <form class="example-form">
        <mat-form-field class="inputField">
          <input matInput placeholder="Needle" value="ABC">
        </mat-form-field>
      
        <mat-form-field class="inputField">
          <input matInput placeholder="Haystack" value="ABCDE">
        </mat-form-field>
      </form>

      <!-- <hr /> -->
      <div class="array-body" *ngFor="let num of arrService.numbers" class="array-bar" 
      [ngStyle]=" { 'width.px': num.width,
                    'height.px': num.value,
                    'background-color': num.colour
                  }">
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row">

    <div class="array-container col-12">
      <hr />
      <div class="array-body" *ngFor="let num of arrService.numbers" class="array-bar" [ngStyle]="  
          { 'width.px': num.width,
            'height.px': num.value,
            'background-color': num.colour
          }">
        <p *ngIf="arrService.arrayLength > 20" [style.font-size.px]="'0'">.</p>
        <p *ngIf="arrService.arrayLength < 20" [style.color]="'white'">{{ num.value }}</p>
      </div>
    </div>
  </div>
</div> -->
