
.inputField {
    height: 10px;
    margin: 10px 10px 30px 0px;
}

// Classes
.array-container {
    text-align: center;
}

.array-body {
    text-align: center;
}

.array-bar {
    margin: 0px 1px 0px 1px;
    padding: 4px;
    display: inline-block;
    font-size: 18px;
}

table {
    width: 50%;
  }