<div class="container-fluid col-12">

  <div class="row">
    <div class="col-6">
      <pre><code [highlight]="codeSnippet" [lineNumbers]="true"></code></pre>
    </div>


    <div class="col-6">
      <mat-card class="col-12 text-center">
        KMP
        <mat-card-subtitle>
          occurrences = {{occurrencesCount}} <br>
          {{timeTaken}}
        </mat-card-subtitle>

        <progressbar type="primary" [striped]="true" [animate]="true" *ngIf="isSorting == false" max={{1}}
          [value]="parentStack.length">
          <i>{{parentNeedle.length}} / {{parentStack.length}} </i>
        </progressbar>

        <progressbar type="danger" [striped]="true" [animate]="true" *ngIf="isSorting" max={{animationMaxLimit}}
          [value]="animations.length">
          <i>{{animations.length}} / {{animationMaxLimit}} </i>
        </progressbar>
      </mat-card>
      <br>



      <div class="array-body array-bar" *ngFor="let letter of stackArr"
        [ngStyle]="{ 'background-color': letter.colour }">
        {{letter.character}}
      </div>
      <hr>
      <!-- aux array to shift needle elements to the right-->
      <div class="array-bar" *ngFor="let c of shiftArr"></div>
      <div class="array-body array-bar" *ngFor="let letter of needleArr"
        [ngStyle]="{ 'background-color': letter.colour }">
        {{letter.character}}
      </div>


      <table mat-table [dataSource]="ELEMENT_DATA" class="mat-elevation-z8">

        <ng-container matColumnDef="character">
          <th mat-header-cell *matHeaderCellDef> Character. </th>
          <td mat-cell *matCellDef="let element"> {{element.character}} </td>
        </ng-container>

        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef> Index. </th>
          <td mat-cell *matCellDef="let element"> {{element.index}} </td>
        </ng-container>

        <ng-container matColumnDef="failValue">
          <th mat-header-cell *matHeaderCellDef> FailValue. </th>
          <td mat-cell *matCellDef="let element"> {{element.failValue}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>