<div class="row col-12">

    <div class="col-4">
        <app-naive [needleArrFromP]="needleArrFromP" [stackArrFromP]="stackArrFromP" [isSorting]="isSorting" (naiveEvent)="handleIsSorting($event)"> </app-naive> 
    </div>

    <div class="col-4">
        <app-bm [needleArrFromP]="needleArrFromP" [stackArrFromP]="stackArrFromP" [isSorting]="isSorting" (bmEvent)="handleIsSorting($event)"> </app-bm> 
    </div>

    <div class="col-4">
        <app-kmp [needleArrFromP]="needleArrFromP" [stackArrFromP]="stackArrFromP" [isSorting]="isSorting" (kmpEvent)="handleIsSorting($event)"> </app-kmp> 
    </div>
</div>